/*general*/

ul{
    list-style: none;
    text-decoration: none;
    position:relative;
}


body {
    width:1200px;
    height: 653px;
    margin: 0 auto;
    padding:10px;
}

a:hover {
    color:gray;
}

footer{
    position: absolute;
    margin:auto;
    padding:10px;
    text-align: center;
    margin-bottom: 10px;
}

/*wrapper*/

#wrapper { 
    background-image: 100%;
    margin:auto;
    padding: auto;
    display: block;
    width: 960px;
    height: 500px;
    vertical-align: middle;
}

/*content*/

#col1{
    position:relative;
    margin-left: 300px;
}

#information {
    position:relative;
    margin-left: 325px;
    bottom:220px;
    font-family: 'AvantGardeBook';
    color: rgb(126,92,57);
    font-size: 12px;

}

#col2 {
    font-size: 25px;
    font-family:'smudger LET';
    color:rgb(145,1,1);
    position: relative;
    left:700px;
    bottom:800px;

}

/*footer*/
#footer{
    font-size: 12px;
    color:rgb(145,1,1);
    font-family: 'avant-garde';
    margin:auto;
    padding: auto;
    position: absolute;
}